:root {
    --grid-size: 500px;
    --grid-border-width: 2px;
}
.pixel {
    background-color: white;
    border: var(--grid-border-width) solid black;
    margin: calc(0px - var(--grid-border-width));
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: var(--grid-size);
    height: var(--grid-size);
    background-color: black;
}

#grid-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}