:root {
    --grid-size: 800px;
    --grid-border-width: 1px;
}
.pixel {
    background-color: white;
    border: 3px solid black;
    margin: -3px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: var(--grid-size);
    height: var(--grid-size);
    background-color: black;
}